@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif;

}
.btn-primary {
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25rem;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    cursor: pointer;
    border: 0;
}

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav-title{
 
 
        font-size: 2.8rem;
        font-weight: 700;
        color: #131313;
    
}
nav > ul{
    display:flex;
}
nav li{
    list-style:none;
    margin-right: 30px;
    font-weight:500px
}
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-description{
    
        color: #727272;
    
}

.p{
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
}
.banner img{
    margin:20px;
    width:100%;
}
/* responsive for mobile devise */
@media screen and (max-width:576){
    header{
        padding:20px;
    }
    flex-direction:column;
}
@media screen and (min-width:576) and (max-width:992){
    header{
        padding:20px;

    }
    nav{
        flex-direction:column;
    }
}
/* main part */
.teams-container{
    display:flex;
    align-items:center;

}
.teams-img-container{
    display:grid;
    display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 1.5rem;
    
}
.teams-content{
    padding:70px;
    padding-right:70px;
}
.teams-title {
    font-size: 2.8rem;
}
.h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.teams-content{
    padding-left:70px;
    padding-right:70px;
}
.teams-title{
    font-size:2.8rem;
}
.quick-list{
   
        font-weight: 500;
        
         color: #727272;
}
.features{
        color: #FF900E;
        font-weight: 700;
}


